{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}
{% import "_macros.html" as macros %}
{% block scripts%}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>
        你好，{{ user.username }}
    </h1>
    {% if user.name or user.location %}
        <p>
            {% if user.name %}{{ user.name }}{% endif %}
            {% if user.location %}
                From <a href="http://maps.baidu.com/?q={{ user.location }}">{{ user.location }}</a>
                {% endif %}
        </p>
    {% endif %}
    <img class="img-rounded profile_thumbnail" src="{{ user.gravatar(size=256) }}">
    <p> 修改密码？<a href="{{ url_for('auth.change_password')}}">点击这里修改密码！！！</a></p>
    <p> 重置密码？<a href="{{ url_for('auth.reset_password_request')}}">点击这里重置密码！！！</a></p>
{% if current_user.is_administrator() %}
    <p>
        <a href="mailto:{{ user.email }}">{{ user.email }}</a>
    </p>
    <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin',id=user.id) }}">Edit Profile[Admin]</a>
{% endif %}
{% if user.about_me %}
    <p>{{ user.about_me }}</p>
{% endif %}
<p  style="font-family: "News Cycle", "Arial Narrow Bold", sans-serif">
Member since {{ moment(user.memeber_since).format('L') }}.Last seen {{ moment(user.last_seen).fromNow() }}.
That was {{ moment(user.last_seen).fromNow(refresh=True)}}
</p>
</div>
 <div>
    <ul class="posts">
    {% for post in posts %}
        <li class="post">
            <div class="post-thumbnail">
                <a href="{{ url_for('.user',username=post.author.username) }}">
                    <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">
                </a>
            </div>
            <div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>
            <div class="post-author">
                <a href="{{ url_for('.user',username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
            </div>
            <div class="post-body">{{ post.body }}<p>Posts by {{ post.author.username }}</p></div>
             <div class="post-footer">
                        {% if current_user == post.author %}
                        <a href="{{ url_for('.edit',id=post.id) }}">
                            <span class="label label-primary">
                                编辑
                            </span>
                        </a>
                        {% elif current_user.is_administrator() %}
                            <a href="{{ url_for('.edit',id=post.id)}}">Edit [Admin]</a>
                        {% endif %}
                        <a href="{{ url_for('.post',id=post.id) }}">
                            <span class="label label-default">生成链接</span>
                        </a>
                </div>
        </li>
    {% endfor %}
</ul>
</div>
    {% if pagination %}
        <div class="pagination">
        {{ macros.pagination_widget(pagination,'.index') }}
        </div>
    {% endif %}
{% if current_user.can(Permission.FOLLOW) and user!=current_user %}
    {% if not current_user.is_following(user) %}
{#        <a href="{{ url_for('.follow',username=user.username)}}" class="btn btn-primary">Follow</a>#}
        <a href="www.baidu.com" class="btn btn-primary">Follow</a>
    {% else %}
{#        <a href="{{ url_for('.unfollow',username=user.username) }}"class="btn btn-default">Unfollow</a>#}
        <a href="www.baidu.com"class="btn btn-default">Unfollow</a>
    {% endif %}
    {% endif %}
<a href="www.baidu.com">Followers:<span class="badge">{{ user.followers.count() }}</span></a>
<a href="www.baidu.com">Following:<span class="badge">{{ user.followed.count() }}</span></a>
{#<a href="{{ url_for(".followers",username=user.username) }}">Followers:<span class="badge">{{ user.followers.count() }}</span></a>#}
{#<a href="{{ url_for('.followed_by',username=user.username) }}">Following:<span class="badge">{{ user.followed.count() }}</span></a>#}
{#{% if current_user.is_authenticated() and user!=current_user and user.is_following(current_user) %}#}
|<span class="label label-default">Follows you</span>
{#{% endif %}#}
{% endblock %}